.carouselTop {
    width: 80%;
    margin: auto;
    display: grid;
}

.company {
    padding: 10px;
}

.singleCard {
    text-align: left;
    padding:5px 20px 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 20px 5px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.imageContainer {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 40px;
    width: 40px;
}
img{
    height:40px;
    width:40px;
}
.companyName{
    color: #1B2437;
    max-width: 175px;
    font-size: 17px;
    line-height: 15px;
    font-weight: 600;
}
.description{
    margin-top: -15px;
    color: #8292B4;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}