.navbarAyush{
    /* position: fixed; */
    height:65px;
    width:100%;
    border:1px solid red;
    display: flex;
   
}

.logoAyush{
    position: relative;
    cursor: pointer;
    padding-top: 19px;
    text-align: left;
    padding-left: 160px;
}
.tagAyush{
    cursor: pointer;
    display:flex;
    padding-left: 100px;
    gap:35px;
    color:#445578;
    font-size: medium;
    font-weight:600;
    padding-top: 5px;
}
.tagHoverAyush:hover{
    border-bottom: 5px solid tomato;
    color: black;
}
.navbuttonAyush{
    padding-top: 15px;
    padding-left: 375px;
    display:flex;
    gap:8px
}
.loginButtonAyush{
    cursor: pointer;
    border-radius: 20px;
    width:75px;
    height:35px;
    border-color: teal;
    color: dodgerblue;
    background-color: transparent;
    font-weight:bold;
    font-size: medium;
    border-color: dodgerblue;
    
}
.loginButton2Ayush{
    cursor: pointer;
    border-radius: 20px;
    width:100px;
    height:35px;
    border-color:transparent;
    color: white;
    background-color: tomato;
    font-weight: bold;
    font-size: medium;
}
.lineAyush{
    color:black;
    padding-left: 10px;
    padding-top: 1px;
}
.navParaAyush{
    width:1px;
    height:25px;
}
.navEmpAyush{
    padding-left: 15px;
    padding-top: 18px;
}
.navBorderAyush{
    cursor: pointer;
    border: transparent;
    font-weight: 700;
    font-size:medium;
    color:#445578 ;
}
.navBorderAyush:hover{
    border-bottom: 5px solid tomato;
    color: black;
}

/* ------------------------------------------Navbar-Media-Query--------------------------------------------------------------------- */



@media (max-width:820px){
    .navbarAyush{
        display:none
    }
}


