.navbarAyush{
    /* position: fixed; */
    height:65px;
    width:100%;
   /* padding-left: 50px; */
    display: flex;
   
}

.logoAyush{
    /* position: relative; */
    cursor: pointer;
    padding-top: 19px;
    text-align: left;
    padding-left: 100px;
}
.tagAyush{
    position: static;
    cursor: pointer;
    display:flex;
    padding-left: 100px;
    gap:35px;
    color:#445578;
    font-size: medium;
    font-weight:600;
    padding-top: 5px;
}
.tagHoverAyush:hover{
    /* position: relative; */
    /* border-bottom: 5px solid tomato; */
    border-bottom: 5px solid tomato;
    color: black;

}
.navbuttonAyush{
    padding-top: 14px;
    padding-left: 375px;
    display:flex;
    gap:8px;

    /* padding-bottom: 5px; */
}
.loginButtonAyush{
    cursor: pointer;
    border-radius: 20px;
    width:90px;
    height:40px;
    border-color: teal;
    color: dodgerblue;
    background-color: transparent;
    font-weight:bold;
    font-size: medium;
    border-color: dodgerblue;
    border:1px solid dodgerblue;
   /* padding-bottom: 3px; */
    
}
.loginButton2Ayush{
    cursor: pointer;
    border-radius: 20px;
    width:100px;
    height:40px;
    border-color:transparent;
    color: white;
    background-color: tomato;
    font-weight: bold;
    font-size: medium;
}
.lineAyush{
    color:black;
    padding-left: 10px;
    padding-top: 1px;
}
.navParaAyush{
    width:1px;
    height:25px;
}
.navEmpAyush{
    padding-left: 15px;
    padding-top: 20px;
}
.navBorderAyush{
    cursor: pointer;
    border: transparent;
    font-weight: 700;
    font-size:medium;
    color:#445578 ;
}
.navBorderAyush:hover{
    border-bottom: 5px solid tomato;
    color: black;
}

/* ------------------------------------------Navbar-Media-Query--------------------------------------------------------------------- */


/* 
@media (max-width:820px){
    .navbarAyush{
        display:none;
        height: 500px;
        
    }
} 

@media (min-width:820){
    .navbarAyush{
        display: visible;
    }
} */

/* .check{
    background-image: url('../Naukri-back-image.PNG');
    background-size: cover
} */

