@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.outerContainer {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.innerContainer {
    display: flex;
}

.chip-container {
    margin-bottom: -30px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;
    border-radius: 15px 5px;
    height: 290px;
    padding: 70px 0px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    left: 40%;
    top: -45px;
    width: 540px;
    display: block;
}

.leftInnerContainer {
    z-index: -1;
    border-radius: 20px 5px;
    margin: auto;
    background-color: bisque;
    left: 10%;
    position: absolute;
    width: 75%;
    padding-left: 80px;
    padding-top: 57px;
    font-family: Inter;
    text-align: left;
}

.left-image {
    margin: 0px;
    width: 120px;
    height: 120px;
}

.left-image>img {
    width: 100%;
    height: 100%;
}

.heading {
    margin: 0px;
    width: 275px;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #1b2437;
}

.sub-heading {
    margin: 0px;
    width: 251px;
    font-size: 17px;
    line-height: 26px;
    color: #8292b4;
    padding-bottom: 30px;
}

@media only screen and (max-width: 720px) {
    .innerContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftInnerContainer {
        width: 65%;
        position:initial;
        padding-left:200px;
    }

    .heading {
        width: 250px;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
    }

    .sub-heading {
        width: 180px;
        font-size: 17px;
        line-height: 20px;
        color: #8292b4;
        padding-bottom: 30px;
    }

    .chip-container {
        position:initial;
        height: auto;
        padding: 30px 0px;
        overflow: hidden;
        width: 100%;
        margin:auto;
        margin-top:50px;
        overflow-y: scroll;
    }
}